body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
}

header {
    background-color: #e30a17;
    color: white;
    text-align: center;
}

h2 {
    color: #e30a17;
}

img {
    width: 100%;
}

footer {
    text-align: center;
    color: #555;
}
